<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/jqm">
    <include path="~/Content/jquery.mobile-1.3.2.css" />
    <include path="~/Content/jquery.mobile.structure-1.3.2.css"/>
    <include path="~/Content/jquery.mobile.theme-1.3.2.css"/>
    <include path="~/Content/MyMobile.css"/>
  </styleBundle>
</bundles>